@import "tailwindcss";

body {
  box-sizing: border-box;
}
<<<<<<< HEAD

.container {
  max-width: 1320px;
}

button {
  cursor: pointer;
}
=======
 .container{
    max-width: 1120px;
    margin: 0 auto;
 }

>>>>>>> 30a07f0312b5b7480ced702ed59ab331694182da
